<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicandroid1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WidgetComponents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TxtSwitcher">
        </activity>
        <activity android:name=".ViewFlipperActivity"></activity>
        <activity android:name=".ImgSwitcher" />
        <activity android:name=".GalleryPhotos" />
        <activity android:name=".GridViews" />
        <activity android:name=".CustomizedListView" />
        <activity android:name=".SimpleListview" />
        <activity android:name=".UserInterface" />
        <activity android:name=".MoveFromView" />
        <activity
            android:name=".MoveToSecondView"
            android:label="Second Activity" />
    </application>

</manifest>